body {
    background-color: black;
}


.container {
    background-color: silver;
}

h1 {
    font-weight: bolder;
    text-decoration-line: underline;
}

p {
    text-align: center;
    font-weight: bold;
    color: blanchedalmond;
}

p1 {
    text-align: center;
}

p2 {
    font-weight: bold;
}

.footer {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}