body {
    background-color: black;
}

.container {
    background-color: rgb(122, 163, 165);
}

h1 {
    font-weight: bolder;
    text-decoration-line: underline;
}

h4 {
    text-decoration: underline;
}

p {
    text-align: center;
    font-weight: bold;
    color: blanchedalmond;
}

p2 {
    text-align: center;
    font-weight: bold;
    color: blanchedalmond;
}

.footer {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}